DATABASE_URL=
PORT=3001
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://your-app.vercel.app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
SERVER_URL=https://your-app.vercel.app